@import '../../../application/theme/colors.scss';

.product-layout-container {
	display: flex;
	flex-direction: column;
	
	> .section-container {
		display: flex;
		width: 100%;
		height: calc(100vh - 64px);
		overflow-y: auto;
	}
}
